# Backend
PORT=4000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/global_sphere_agri_tech

# Stripe
STRIPE_SECRET_KEY=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=